@use "variables";
@use "generales";
@use "header";
@use "seccionRepetitiva";
@use "footer";

/* ----------------------------------------------GALERIA---------------------------------------------- */
.main__galeria{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.seccion__galeria {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    padding: 5%;
    min-height: 154vh;
    grid-template-columns: repeat(auto-fill, minmax(310px,1fr));
    grid-gap: 100px;
    justify-items: center;
}

.imagenes_galeria{
    width: 310px;
    height: 250px;
    border: 5px double #00569d;
    object-fit: cover;
    transition: all 0.2s linear;
}
.imagenes_galeria:hover{
    transform: scale(1.25);
    filter: brightness(120%);
    box-shadow: 0px 0px 28px 1px #008cff96;
}

/* ---------------------------------------------- RESPONSIVE---------------------------------------------- */

/* ---------------------- tablet -------------------- */ 
@media screen and (min-width: 768px) and (max-width: 991px){

    @include seccionRepetitiva.queriesMin768Max991;
    .seccion__galeria {
        width: 100%;
        box-sizing: border-box;
        display: grid;
        padding: 0;
        min-height:0;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-gap: 0px;
        justify-items:normal;
    }
    .contenedor-img-galeria {
        box-shadow: inset 0px 0px 20px 6px rgb(0 0 0 / 26%);
    }
    .imagenes_galeria {
        /* width: 226px; */
        width: 100%;
        height: 100%;
        min-height: 200px;
        border: none;
        object-fit: cover;
        transition:none;
        position: relative;
        z-index: -2;
    }
    
    .imagenes_galeria:hover {
        transform: none;
        filter:none;
        box-shadow:none;
    }
}
/* ---------------------- mobile -------------------- */ 
@media screen and (min-width: 576px) and (max-width: 768px){

    @include seccionRepetitiva.queriesMin576Max768; 
    .seccion__galeria {
        width: 100%;
        box-sizing: border-box;
        display: grid;
        padding: 0;
        min-height:0;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-gap: 0px;
        justify-items:normal;
    }
    .contenedor-img-galeria {
        box-shadow: inset 0px 0px 20px 6px rgb(0 0 0 / 26%);
    }
    .imagenes_galeria {
        /* width: 226px; */
        width: 100%;
        height: 100%;
        min-height: 200px;
        border: none;
        object-fit: cover;
        transition:none;
        position: relative;
        z-index: -2;
    }
    
    .imagenes_galeria:hover {
        transform: none;
        filter:none;
        box-shadow:none;
    }
}
/* ---------------------- mobile mas chico -------------------- */ 
@media screen and (min-width: 1px) and (max-width: 576px){

    @include seccionRepetitiva.queriesMin1Max576;
    .seccion__galeria {
        width: 100%;
        box-sizing: border-box;
        display: grid;
        padding: 0;
        min-height:0;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-gap: 0px;
        justify-items:normal;
    }
    .contenedor-img-galeria {
        box-shadow: inset 0px 0px 20px 6px rgb(0 0 0 / 26%);
    }
    .imagenes_galeria {
        /* width: 226px; */
        width: 100%;
        height: 100%;
        min-height: 200px;
        border: none;
        object-fit: cover;
        transition:none;
        position: relative;
        z-index: -2;
    }
    
    .imagenes_galeria:hover {
        transform: none;
        filter:none;
        box-shadow:none;
    }
}
