@use "variables";
@use "generales";
@use "header";
@use "seccionRepetitiva";
@use "footer";

/* ----------------------------------------------NOSOTROS---------------------------------------------- */
.main__nosotros{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.seccion__nosotros{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
    min-height: 150vh;
}
.article__nosotros{
    width: 50%;
    color: white;
    text-align: center;
    margin: 40px 0px;
}
.article__nosotros h2{
    margin-bottom: 20px;
} 
.contenedor__avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
}

#avatar{
    border: 5px solid red;
    width: 200px;
    height: 200px;
}
#avatar__director{
    color: red;
}
.seccion__nosotros hr{
    border: none;
    height: 3px;
    width: 20%;
    margin: 0;
    background-color: white;
    opacity: 1;
    color: inherit;
}
/* ---------------------------------------------- RESPONSIVE---------------------------------------------- */

/* ---------------------- tablet -------------------- */ 
@media screen and (min-width: 768px) and (max-width: 991px){
    @include seccionRepetitiva.queriesMin768Max991;

    .btn-primary {
        margin-bottom: 30px;
    }
    .article__nosotros{
        width: 75%;
    }
}
/* ---------------------- mobile -------------------- */ 
@media screen and (min-width: 576px) and (max-width: 768px){
    @include seccionRepetitiva.queriesMin576Max768; 
    .article__nosotros{
        width: 100%;
        padding: 40px;
    }
    .btn-primary {
        margin-bottom: 30px;
    }
}
/* ---------------------- mobile mas chico -------------------- */ 
@media screen and (min-width: 1px) and (max-width: 576px){
    @include seccionRepetitiva.queriesMin1Max576;
    .article__nosotros{
        width: 100%;
        padding: 40px;
    }
    .btn-primary {
        margin-bottom: 30px;
    }
}
